div#place{
  background-image:url(../../assets/img/02267_HD.jpg);
  background-size:cover;
}

.ssplace{
  margin:0px;
  padding:40px 20px 100px 20px;
}

#splace .sh2{
  color:#b7bec5;
}

.pp{
  font-size:20px;
  color:#61757e;
  padding:0 20%;
  padding-bottom:30px;
}

div.dropdown{
}

#splace .drop{
  text-align:center;
}

#splace .drop button{
  width:250px;
  height:70px;
  color:#ced5e0;
  font-size:20px;
}

#splace .btnn, .dropdown-menu{
  margin:0 auto;
}

#splace .dropdown-menu{
  width:250px;
  left:50%;
  margin-left:-125px;
}

.hh1{
  font-size:50px;
  color:#1c2226;
  padding:10px 0px;
  font-weight:500;
}

div#wplace{
  background-image:url(../../assets/img/material2.png);
  background-size:cover;
  margin:0;
}

div#wimage{
  margin:0 auto;
  height:400px;
  width:500px;
}

p#pp2{
  font-size:20px;
  font-weight:300;
  color:#080707;
  padding:0 40px;
  padding-bottom:40px;
}

div#place.flace{
  background-image:url(../../assets/img/00540_HD.jpg);
}

div#div1{
  width:400px;
  margin:0 auto;
  background-color:#ffffff;
  height:75px;
  padding-top:1px;
  border-radius:15px;
}

div#splace.row.frow{
  padding:0 100px;
}

h2.fh2{
  color:#1b0c0c;
}

div#hotels.ssplace{
  background-image:url(../../assets/img/Cities_wallpape2r.jpg);
}

#hotels button{
  width:700px;
  height:55px;
  font-size:25px;
  text-align:left;
  padding-left:20px;
}

#hotels .dropdown-menu{
  width:700px;
}

